# Pinned upstream version
NETBOX_TAG=v4.0.8

# PostgreSQL Configuration
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD=

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# NetBox Application Security & Setup
SUPERUSER_NAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=
SUPERUSER_API_TOKEN=
SECRET_KEY=

# Ports
APP_PORT=8000
METRICS_PORT=8000
