POSTGRES_DB=netbox
POSTGRES_USER=netbox
POSTGRES_PASSWORD=invalid_db_secret
DB_HOST=postgres
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD=netbox_secure_pass_2026
REDIS_HOST=redis
REDIS_PORT=6379
SECRET_KEY=d9823f4b1e7c8a2095f61234abcd5678ef901234567890abcdef1234567890ab
ALLOWED_HOSTS=*
METRICS_ENABLED=True
